<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
         <span>
            <h1 style="color:red;">Welcome</h1>
            <img src="emoji.jpg">

         </span> 
        
        <p>Create an account or login</p>
        <a href="/users/clientregister" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>